ion-content {

    --background: #0D5D56;


    p {
        color: #e5c2c0;
        font-size: 3rem;
        font-weight: bolder;
        text-shadow: 2px 2px 4px rgb(0, 0, 0);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

    :nth-child(1),
    :nth-child(2),
    :nth-child(3) {
        margin-top: 1rem;
        margin-bottom: 4rem;
    }

    img {
        width: 17rem;
    }
}

// animacion letras
.letras {
    color: #e5c2c0;
    font-size: 2rem;
    font-weight: bolder;
    text-shadow: 2px 2px 4px rgb(0, 0, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.focus-in-contract {
    -webkit-animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes focus-in-contract {
    0% {
        letter-spacing: 1em;
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


.flip-in-diag-1-tr {
    -webkit-animation: flip-in-diag-1-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: flip-in-diag-1-tr 0.9s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


@-webkit-keyframes flip-in-diag-1-tr {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, -80deg);
        transform: rotate3d(1, 1, 0, -80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}

@keyframes flip-in-diag-1-tr {
    0% {
        -webkit-transform: rotate3d(1, 1, 0, -80deg);
        transform: rotate3d(1, 1, 0, -80deg);
        opacity: 0;
    }

    100% {
        -webkit-transform: rotate3d(1, 1, 0, 0deg);
        transform: rotate3d(1, 1, 0, 0deg);
        opacity: 1;
    }
}